/* Remove elements */
.wy-nav-content .wy-breadcrumbs-aside,
.ea-placement,
.ethical-rtd > div.ethical-sidebar,
.ethical-rtd > div.ethical-footer {
  display: none !important;
}

.rst-content a:visited {
    color: #3091d1;  /* No visiting color */
  }


[data-md-color-scheme="default"] .md-typeset hr {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 1pt;
}

/* Highlight functions, classes etc. type signatures. Really helps to make clear where
   one item ends and another begins. */

   [data-md-color-scheme="default"] {
    --doc-heading-color: #DDD;
    --doc-heading-border-color: #CCC;
    --doc-heading-color-alt: #F0F0F0;
}

/* Titles */
h1 {
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    font-size: 38px;
    overflow-wrap: break-word;
    background: linear-gradient(92deg,#ffd200 0%,#f7a11a 32%,#5dd2ff 52%,#0079c2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h1 span.highlighted {
    -webkit-text-fill-color: initial;
  }
  h2,
  .rst-content .toctree-wrapper > p.caption {
    font-family: inherit;
    font-weight: 200;
  }

h2.doc-heading {
  font-size: 0.9rem;
}

h3.doc-heading {
    /* NOT var(--md-code-bg-color) as that's not visually distinct from other code blocks.*/
    font-size: 0.9rem;
    background-color: var(--doc-heading-color);
    border: solid var(--doc-heading-border-color);
    border-width: 1.5pt;
    border-radius: 2pt;
    padding: 0pt 5pt 2pt 5pt;
 }

h4.doc-heading, h5.doc-heading {
   /* NOT var(--md-code-bg-color) as that's not visually distinct from other code blocks.*/
   font-size: 0.9rem;
   background-color: var(--md-code-bg-color);
   border: solid var(--doc-heading-border-color);
   border-width: 1.5pt;
   border-radius: 2pt;
   padding: 0pt 5pt 2pt 5pt;
}

/* Override the background-color for code blocks inside headings. */
h3.doc-heading code, h4.doc-heading code, h5.doc-heading code, h6.doc-heading code {
    background-color: var(--doc-heading-color);
}

h6.heading {
    font-size: 0.9rem;
    background-color: var(--doc-heading-color-alt);
    border-radius: 2pt;
    padding: 0pt 5pt 2pt 5pt;
}


  /* Code */
.highlight .kn,
.highlight .k {
  color: #d73a49;
}
.highlight .nn {
  color: inherit;
  font-weight: inherit;
}
.highlight .nc {
  color: #e36209;
  font-weight: inherit;
}
.highlight .fm,
.highlight .nd,
.highlight .nf,
.highlight .nb {
  color: #6f42c1;
}
.highlight .bp,
.highlight .n {
  color: inherit;
}
.highlight .kc,
.highlight .s1,
.highlight .s2,
.highlight .mi,
.highlight .mf,
.highlight .bp,
.highlight .bn,
.highlight .ow {
  color: #005cc5;
  font-weight: inherit;
}
.highlight .c1 {
  color: #6a737d;
}

/* Footer */
footer, footer a, footer a:visited {
    color: white !important;
  }
footer div {
    color: grey;  /* Reset */
}

.rst-content code {
    color: #000000;
}

/* Table */
.md-typeset table:not([class]) {
    font-size: 0.8rem;
}

html {
    /* Decrease font size for overall webpage
       Down from 137.5% which is the Material default */
    font-size: 130%;
}

.headerlink {
	--permalink-size: 16px; /* for font-relative sizes, 0.6em is a good choice */
	--permalink-spacing: 4px;

	width: calc(var(--permalink-size) + var(--permalink-spacing));
	height: var(--permalink-size);
	vertical-align: middle;
	background-color: var(--md-default-fg-color--lighter);
	background-size: var(--permalink-size);
	mask-size: var(--permalink-size);
	-webkit-mask-size: var(--permalink-size);
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	visibility: visible;
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>');
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>');
}

[id]:target .headerlink {
	background-color: var(--md-typeset-a-color);
}

.headerlink:hover {
	background-color: var(--md-accent-fg-color) !important;
}
